<launch>

    <node pkg="move_base" type="move_base" name="move_base" output="screen">
        <param name="controller_frequency" value="10.0"/>
        <rosparam file="$(find px4_ros_slam)/params/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find px4_ros_slam)/params/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find px4_ros_slam)/params/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find px4_ros_slam)/params/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find px4_ros_slam)/params/trajectory_planner.yaml" command="load" />
    </node>

</launch>
